body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:848px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:110px;
  top:19px;
  width:380px;
  height:800px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u2 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:158px;
  top:207px;
  width:303px;
  height:503px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:503px;
}
#u4 {
  position:absolute;
  left:2px;
  top:244px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:191px;
  top:155px;
  width:91px;
  height:33px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:33px;
}
#u5_img.selected {
}
#u5.selected {
}
#u5_img.mouseDown {
}
#u5.mouseDown {
}
#u5_img.disabled {
}
#u5.disabled {
}
#u6 {
  position:absolute;
  left:2px;
  top:8px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:193px;
  top:161px;
  width:87px;
  height:25px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:26px;
}
#u7_img.mouseOver {
}
#u7.mouseOver {
}
#u8 {
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:162px;
  top:214px;
  width:77px;
  height:55px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:55px;
}
#u10 {
  position:absolute;
  left:2px;
  top:20px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:162px;
  top:214px;
  width:76px;
  height:55px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:55px;
}
#u12 {
  position:absolute;
  left:2px;
  top:20px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:162px;
  top:214px;
  width:76px;
  height:55px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:55px;
}
#u14 {
  position:absolute;
  left:2px;
  top:20px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:190px;
  top:238px;
  width:21px;
  height:6px;
  font-size:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:7px;
}
#u16 {
  position:absolute;
  left:2px;
  top:-35px;
  width:17px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:480px;
  top:146px;
  width:300px;
  height:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:17px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:280px;
  top:156px;
  width:91px;
  height:33px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:33px;
}
#u19_img.selected {
}
#u19.selected {
}
#u19_img.mouseDown {
}
#u19.mouseDown {
}
#u19_img.disabled {
}
#u19.disabled {
}
#u20 {
  position:absolute;
  left:2px;
  top:8px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:282px;
  top:162px;
  width:87px;
  height:25px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:26px;
}
#u21_img.mouseOver {
}
#u21.mouseOver {
}
#u22 {
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:238px;
  top:206px;
  width:92px;
  height:25px;
  font-size:14px;
  text-align:left;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:26px;
}
#u24 {
  position:absolute;
  left:2px;
  top:2px;
  width:88px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:238px;
  top:238px;
  width:110px;
  height:25px;
  font-size:10px;
  text-align:left;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:26px;
}
#u26 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:239px;
  top:220px;
  width:110px;
  height:13px;
  font-size:10px;
  text-align:left;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:14px;
}
#u28 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:162px;
  top:279px;
  width:142px;
  height:124px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:124px;
}
#u30 {
  position:absolute;
  left:2px;
  top:54px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:162px;
  top:279px;
  width:141px;
  height:123px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:123px;
}
#u32 {
  position:absolute;
  left:2px;
  top:54px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:162px;
  top:279px;
  width:141px;
  height:123px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:123px;
}
#u34 {
  position:absolute;
  left:2px;
  top:54px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:214px;
  top:333px;
  width:39px;
  height:15px;
  font-size:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u36 {
  position:absolute;
  left:2px;
  top:-12px;
  width:35px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:162px;
  top:404px;
  width:122px;
  height:21px;
  font-size:12px;
  text-align:left;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
}
#u38 {
  position:absolute;
  left:2px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:162px;
  top:420px;
  width:110px;
  height:20px;
  font-size:16px;
  color:#FF0000;
  text-align:left;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:21px;
}
#u40 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:500px;
  top:238px;
  width:340px;
  height:102px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:102px;
}
#u42 {
  position:absolute;
  left:2px;
  top:43px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:504px;
  top:245px;
  width:77px;
  height:55px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:55px;
}
#u44 {
  position:absolute;
  left:2px;
  top:20px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:504px;
  top:245px;
  width:76px;
  height:55px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:55px;
}
#u46 {
  position:absolute;
  left:2px;
  top:20px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:504px;
  top:245px;
  width:76px;
  height:55px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:55px;
}
#u48 {
  position:absolute;
  left:2px;
  top:20px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:532px;
  top:269px;
  width:21px;
  height:6px;
  font-size:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:7px;
}
#u50 {
  position:absolute;
  left:2px;
  top:-35px;
  width:17px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:580px;
  top:240px;
  width:100px;
  height:25px;
  font-size:16px;
  text-align:left;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
}
#u52 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:582px;
  top:282px;
  width:110px;
  height:25px;
  font-size:10px;
  text-align:left;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:26px;
}
#u54 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:583px;
  top:265px;
  width:110px;
  height:13px;
  font-size:10px;
  text-align:left;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:14px;
}
#u56 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:406px;
  top:159px;
  width:44px;
  height:30px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:30px;
}
#u57_img.selected {
}
#u57.selected {
}
#u57_img.mouseOver {
}
#u57.mouseOver {
}
#u57_img.mouseDown {
}
#u57.mouseDown {
}
#u57_img.disabled {
}
#u57.disabled {
}
#u58 {
  position:absolute;
  left:2px;
  top:7px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:406px;
  top:164px;
  width:42px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:504px;
  top:310px;
  width:56px;
  height:25px;
  font-size:12px;
  text-align:left;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:26px;
}
#u62 {
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:550px;
  top:307px;
  width:130px;
  height:25px;
  font-size:12px;
  text-align:left;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:26px;
}
#u64 {
  position:absolute;
  left:2px;
  top:2px;
  width:126px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:730px;
  top:275px;
  width:110px;
  height:25px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:26px;
}
#u66 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:504px;
  top:354px;
  width:340px;
  height:102px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:102px;
}
#u68 {
  position:absolute;
  left:2px;
  top:43px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:508px;
  top:361px;
  width:77px;
  height:55px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:55px;
}
#u70 {
  position:absolute;
  left:2px;
  top:20px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:508px;
  top:361px;
  width:76px;
  height:55px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:55px;
}
#u72 {
  position:absolute;
  left:2px;
  top:20px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:508px;
  top:361px;
  width:76px;
  height:55px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:55px;
}
#u74 {
  position:absolute;
  left:2px;
  top:20px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:536px;
  top:385px;
  width:21px;
  height:6px;
  font-size:16px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:7px;
}
#u76 {
  position:absolute;
  left:2px;
  top:-35px;
  width:17px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:584px;
  top:356px;
  width:100px;
  height:25px;
  font-size:16px;
  text-align:left;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
}
#u78 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:586px;
  top:398px;
  width:110px;
  height:25px;
  font-size:10px;
  text-align:left;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:26px;
}
#u80 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:587px;
  top:381px;
  width:110px;
  height:13px;
  font-size:10px;
  text-align:left;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:14px;
}
#u82 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:508px;
  top:426px;
  width:56px;
  height:25px;
  font-size:12px;
  text-align:left;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:26px;
}
#u84 {
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:554px;
  top:423px;
  width:130px;
  height:25px;
  font-size:12px;
  text-align:left;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:26px;
}
#u86 {
  position:absolute;
  left:2px;
  top:2px;
  width:126px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:734px;
  top:391px;
  width:110px;
  height:25px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:26px;
}
#u88 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:313px;
  top:279px;
  width:142px;
  height:154px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:154px;
}
#u90 {
  position:absolute;
  left:2px;
  top:69px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:313px;
  top:279px;
  width:141px;
  height:153px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:153px;
}
#u92 {
  position:absolute;
  left:2px;
  top:68px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:313px;
  top:279px;
  width:141px;
  height:153px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:153px;
}
#u94 {
  position:absolute;
  left:2px;
  top:68px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:365px;
  top:346px;
  width:39px;
  height:19px;
  font-size:16px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u96 {
  position:absolute;
  left:2px;
  top:-10px;
  width:35px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:313px;
  top:433px;
  width:122px;
  height:21px;
  font-size:12px;
  text-align:left;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
}
#u98 {
  position:absolute;
  left:2px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:313px;
  top:449px;
  width:110px;
  height:20px;
  font-size:16px;
  color:#FF0000;
  text-align:left;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:21px;
}
#u100 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:313px;
  top:213px;
  width:77px;
  height:55px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:55px;
}
#u102 {
  position:absolute;
  left:2px;
  top:20px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:313px;
  top:213px;
  width:76px;
  height:55px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:55px;
}
#u104 {
  position:absolute;
  left:2px;
  top:20px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:313px;
  top:213px;
  width:76px;
  height:55px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:55px;
}
#u106 {
  position:absolute;
  left:2px;
  top:20px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:341px;
  top:237px;
  width:21px;
  height:6px;
  font-size:16px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:7px;
}
#u108 {
  position:absolute;
  left:2px;
  top:-35px;
  width:17px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:389px;
  top:205px;
  width:92px;
  height:25px;
  font-size:14px;
  text-align:left;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:26px;
}
#u110 {
  position:absolute;
  left:2px;
  top:2px;
  width:88px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:389px;
  top:237px;
  width:110px;
  height:25px;
  font-size:10px;
  text-align:left;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:26px;
}
#u112 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:390px;
  top:219px;
  width:110px;
  height:13px;
  font-size:10px;
  text-align:left;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:14px;
}
#u114 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:162px;
  top:483px;
  width:292px;
  height:1px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:1px;
}
#u116 {
  position:absolute;
  left:2px;
  top:-8px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:270px;
  top:487px;
  width:110px;
  height:25px;
  font-size:12px;
  text-align:left;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:26px;
}
#u118 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:163px;
  top:492px;
  width:77px;
  height:55px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:55px;
}
#u120 {
  position:absolute;
  left:2px;
  top:20px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:163px;
  top:492px;
  width:76px;
  height:55px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:55px;
}
#u122 {
  position:absolute;
  left:2px;
  top:20px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:163px;
  top:492px;
  width:76px;
  height:55px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:55px;
}
#u124 {
  position:absolute;
  left:2px;
  top:20px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:191px;
  top:516px;
  width:21px;
  height:6px;
  font-size:16px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:7px;
}
#u126 {
  position:absolute;
  left:2px;
  top:-35px;
  width:17px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:239px;
  top:516px;
  width:110px;
  height:25px;
  font-size:10px;
  text-align:left;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:26px;
}
#u128 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:163px;
  top:557px;
  width:142px;
  height:124px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:124px;
}
#u130 {
  position:absolute;
  left:2px;
  top:54px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:163px;
  top:557px;
  width:141px;
  height:123px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:123px;
}
#u132 {
  position:absolute;
  left:2px;
  top:54px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:163px;
  top:557px;
  width:141px;
  height:123px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:123px;
}
#u134 {
  position:absolute;
  left:2px;
  top:54px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:215px;
  top:611px;
  width:39px;
  height:15px;
  font-size:16px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u136 {
  position:absolute;
  left:2px;
  top:-12px;
  width:35px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:163px;
  top:682px;
  width:122px;
  height:21px;
  font-size:12px;
  text-align:left;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
}
#u138 {
  position:absolute;
  left:2px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:163px;
  top:698px;
  width:110px;
  height:20px;
  font-size:16px;
  color:#FF0000;
  text-align:left;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:21px;
}
#u140 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:500px;
  top:474px;
  width:292px;
  height:1px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:1px;
}
#u142 {
  position:absolute;
  left:2px;
  top:-8px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:508px;
  top:489px;
  width:340px;
  height:102px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:102px;
}
#u144 {
  position:absolute;
  left:2px;
  top:43px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:512px;
  top:496px;
  width:77px;
  height:55px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:55px;
}
#u146 {
  position:absolute;
  left:2px;
  top:20px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:512px;
  top:496px;
  width:76px;
  height:55px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:55px;
}
#u148 {
  position:absolute;
  left:2px;
  top:20px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:512px;
  top:496px;
  width:76px;
  height:55px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:55px;
}
#u150 {
  position:absolute;
  left:2px;
  top:20px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:540px;
  top:520px;
  width:21px;
  height:6px;
  font-size:16px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:7px;
}
#u152 {
  position:absolute;
  left:2px;
  top:-35px;
  width:17px;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:588px;
  top:491px;
  width:100px;
  height:25px;
  font-size:16px;
  text-align:left;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
}
#u154 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:590px;
  top:533px;
  width:110px;
  height:25px;
  font-size:10px;
  text-align:left;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:26px;
}
#u156 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:591px;
  top:516px;
  width:110px;
  height:13px;
  font-size:10px;
  text-align:left;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:14px;
}
#u158 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:512px;
  top:561px;
  width:56px;
  height:25px;
  font-size:12px;
  text-align:left;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:26px;
}
#u160 {
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:558px;
  top:558px;
  width:130px;
  height:25px;
  font-size:12px;
  text-align:left;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:26px;
}
#u162 {
  position:absolute;
  left:2px;
  top:2px;
  width:126px;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:738px;
  top:526px;
  width:110px;
  height:25px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:26px;
}
#u164 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:508px;
  top:605px;
  width:340px;
  height:102px;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:102px;
}
#u166 {
  position:absolute;
  left:2px;
  top:43px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:512px;
  top:612px;
  width:77px;
  height:55px;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:55px;
}
#u168 {
  position:absolute;
  left:2px;
  top:20px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:512px;
  top:612px;
  width:76px;
  height:55px;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:55px;
}
#u170 {
  position:absolute;
  left:2px;
  top:20px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:512px;
  top:612px;
  width:76px;
  height:55px;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:55px;
}
#u172 {
  position:absolute;
  left:2px;
  top:20px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:540px;
  top:636px;
  width:21px;
  height:6px;
  font-size:16px;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:7px;
}
#u174 {
  position:absolute;
  left:2px;
  top:-35px;
  width:17px;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:588px;
  top:607px;
  width:100px;
  height:25px;
  font-size:16px;
  text-align:left;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
}
#u176 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:590px;
  top:649px;
  width:110px;
  height:25px;
  font-size:10px;
  text-align:left;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:26px;
}
#u178 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u179 {
  position:absolute;
  left:591px;
  top:632px;
  width:110px;
  height:13px;
  font-size:10px;
  text-align:left;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:14px;
}
#u180 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:512px;
  top:677px;
  width:56px;
  height:25px;
  font-size:12px;
  text-align:left;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:26px;
}
#u182 {
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
#u183 {
  position:absolute;
  left:558px;
  top:674px;
  width:130px;
  height:25px;
  font-size:12px;
  text-align:left;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:26px;
}
#u184 {
  position:absolute;
  left:2px;
  top:2px;
  width:126px;
  word-wrap:break-word;
}
#u185 {
  position:absolute;
  left:738px;
  top:642px;
  width:110px;
  height:25px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:26px;
}
#u186 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u187 {
  position:absolute;
  left:512px;
  top:94px;
  width:300px;
  height:16px;
  color:#FF0000;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:17px;
}
#u188 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
