body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:490px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:110px;
  top:19px;
  width:380px;
  height:800px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u2 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:183px;
  top:163px;
  width:234px;
  height:227px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:227px;
}
#u4 {
  position:absolute;
  left:2px;
  top:106px;
  width:230px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:190px;
  top:190px;
  width:220px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:41px;
}
#u6 {
  position:absolute;
  left:2px;
  top:2px;
  width:216px;
  word-wrap:break-word;
}
