body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:100px;
  top:20px;
  width:380px;
  height:800px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u2 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:130px;
  top:250px;
  width:310px;
  height:110px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:110px;
}
#u4 {
  position:absolute;
  left:2px;
  top:47px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:140px;
  top:260px;
  width:80px;
  height:80px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u6 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:140px;
  top:260px;
  width:79px;
  height:79px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u8 {
  position:absolute;
  left:2px;
  top:32px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:140px;
  top:260px;
  width:79px;
  height:79px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u10 {
  position:absolute;
  left:2px;
  top:32px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:169px;
  top:295px;
  width:22px;
  height:10px;
  font-size:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u12 {
  position:absolute;
  left:2px;
  top:-24px;
  width:18px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:229px;
  top:260px;
  width:181px;
  height:25px;
  font-size:16px;
  text-align:left;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:26px;
}
#u14 {
  position:absolute;
  left:2px;
  top:2px;
  width:177px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:229px;
  top:314px;
  width:110px;
  height:25px;
  font-size:16px;
  text-align:left;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:26px;
}
#u16 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:229px;
  top:289px;
  width:201px;
  height:25px;
  font-size:12px;
  text-align:left;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:26px;
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:197px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:326px;
  top:314px;
  width:104px;
  height:25px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:25px;
}
#u19_img.selected {
}
#u19.selected {
}
#u19_img.mouseOver {
}
#u19.mouseOver {
}
#u19_img.mouseDown {
}
#u19.mouseDown {
}
#u19_img.disabled {
}
#u19.disabled {
}
#u20 {
  position:absolute;
  left:2px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:326px;
  top:318px;
  width:100px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:130px;
  top:370px;
  width:310px;
  height:110px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:110px;
}
#u24 {
  position:absolute;
  left:2px;
  top:47px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:140px;
  top:380px;
  width:80px;
  height:80px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u26 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:140px;
  top:380px;
  width:79px;
  height:79px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u28 {
  position:absolute;
  left:2px;
  top:32px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:140px;
  top:380px;
  width:79px;
  height:79px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u30 {
  position:absolute;
  left:2px;
  top:32px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:169px;
  top:415px;
  width:22px;
  height:10px;
  font-size:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u32 {
  position:absolute;
  left:2px;
  top:-24px;
  width:18px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:229px;
  top:380px;
  width:181px;
  height:25px;
  font-size:16px;
  text-align:left;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:26px;
}
#u34 {
  position:absolute;
  left:2px;
  top:2px;
  width:177px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:229px;
  top:434px;
  width:110px;
  height:25px;
  font-size:16px;
  text-align:left;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:26px;
}
#u36 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:229px;
  top:409px;
  width:201px;
  height:25px;
  font-size:12px;
  text-align:left;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:26px;
}
#u38 {
  position:absolute;
  left:2px;
  top:2px;
  width:197px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:326px;
  top:434px;
  width:104px;
  height:25px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:25px;
}
#u39_img.selected {
}
#u39.selected {
}
#u39_img.mouseOver {
}
#u39.mouseOver {
}
#u39_img.mouseDown {
}
#u39.mouseDown {
}
#u39_img.disabled {
}
#u39.disabled {
}
#u40 {
  position:absolute;
  left:2px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:326px;
  top:438px;
  width:100px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:140px;
  top:645px;
  width:300px;
  height:25px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
}
#u43_img.selected {
}
#u43.selected {
}
#u43_img.mouseOver {
}
#u43.mouseOver {
}
#u43_img.mouseDown {
}
#u43.mouseDown {
}
#u43_img.disabled {
}
#u43.disabled {
}
#u44 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:140px;
  top:649px;
  width:288px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:20px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:154px;
  top:192px;
  width:256px;
  height:25px;
  font-size:16px;
  text-align:left;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:26px;
}
#u48 {
  position:absolute;
  left:2px;
  top:2px;
  width:252px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:154px;
  top:228px;
  width:110px;
  height:25px;
  font-size:14px;
  text-align:left;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:26px;
}
#u50 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:336px;
  top:192px;
  width:94px;
  height:25px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:25px;
}
#u51_img.selected {
}
#u51.selected {
}
#u51_img.mouseOver {
}
#u51.mouseOver {
}
#u51_img.mouseDown {
}
#u51.mouseDown {
}
#u51_img.disabled {
}
#u51.disabled {
}
#u52 {
  position:absolute;
  left:2px;
  top:4px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:336px;
  top:196px;
  width:90px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
