body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1079px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:10px;
  top:110px;
  width:1069px;
  height:121px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1070px;
  height:122px;
}
#u2 {
  position:absolute;
  left:2px;
  top:52px;
  width:1065px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:221px;
  top:14px;
  width:100px;
  height:60px;
}
#u3_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:65px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:10px;
  top:80px;
  width:1069px;
  height:30px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1069px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:1065px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:10px;
  top:85px;
  width:180px;
  height:25px;
  font-size:12px;
  text-align:left;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:26px;
}
#u12 {
  position:absolute;
  left:2px;
  top:2px;
  width:176px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:200px;
  top:92px;
  width:21px;
  height:12px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:12px;
}
#u14 {
  position:absolute;
  left:2px;
  top:-2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:19px;
  top:120px;
  width:141px;
  height:40px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
}
#u15_img.selected {
}
#u15.selected {
}
#u15_img.mouseDown {
}
#u15.mouseDown {
}
#u15_img.disabled {
}
#u15.disabled {
}
#u16 {
  position:absolute;
  left:2px;
  top:12px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:25px;
  top:127px;
  width:128px;
  height:30px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:31px;
}
#u17_img.mouseOver {
}
#u17.mouseOver {
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:181px;
  top:122px;
  width:129px;
  height:37px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u19_img.selected {
}
#u19.selected {
}
#u19_img.mouseDown {
}
#u19.mouseDown {
}
#u19_img.disabled {
}
#u19.disabled {
}
#u20 {
  position:absolute;
  left:2px;
  top:10px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:187px;
  top:129px;
  width:117px;
  height:27px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:28px;
}
#u21_img.mouseOver {
}
#u21.mouseOver {
}
#u22 {
  position:absolute;
  left:2px;
  top:6px;
  width:113px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:620px;
  top:122px;
  width:120px;
  height:35px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:35px;
}
#u23_img.selected {
}
#u23.selected {
}
#u23_img.mouseDown {
}
#u23.mouseDown {
}
#u23_img.disabled {
}
#u23.disabled {
}
#u24 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:625px;
  top:128px;
  width:109px;
  height:27px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:28px;
}
#u25_img.mouseOver {
}
#u25.mouseOver {
}
#u26 {
  position:absolute;
  left:2px;
  top:6px;
  width:105px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:330px;
  top:125px;
  width:130px;
  height:35px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:35px;
}
#u27_img.selected {
}
#u27.selected {
}
#u27_img.mouseDown {
}
#u27.mouseDown {
}
#u27_img.disabled {
}
#u27.disabled {
}
#u28 {
  position:absolute;
  left:2px;
  top:10px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:335px;
  top:131px;
  width:119px;
  height:27px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
}
#u29_img.mouseOver {
}
#u29.mouseOver {
}
#u30 {
  position:absolute;
  left:2px;
  top:6px;
  width:115px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:830px;
  top:120px;
  width:140px;
  height:40px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u31_img.selected {
}
#u31.selected {
}
#u31_img.mouseDown {
}
#u31.mouseDown {
}
#u31_img.disabled {
}
#u31.disabled {
}
#u32 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:836px;
  top:128px;
  width:128px;
  height:30px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:31px;
}
#u33_img.mouseOver {
}
#u33.mouseOver {
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:464px;
  top:126px;
  width:130px;
  height:33px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:33px;
}
#u35_img.selected {
}
#u35.selected {
}
#u35_img.mouseDown {
}
#u35.mouseDown {
}
#u35_img.disabled {
}
#u35.disabled {
}
#u36 {
  position:absolute;
  left:2px;
  top:8px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:470px;
  top:132px;
  width:119px;
  height:25px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:26px;
}
#u37_img.mouseOver {
}
#u37.mouseOver {
}
#u38 {
  position:absolute;
  left:2px;
  top:4px;
  width:115px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:786px;
  top:350px;
  width:293px;
  height:290px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:290px;
}
#u40 {
  position:absolute;
  left:2px;
  top:137px;
  width:289px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:10px;
  top:241px;
  width:1069px;
  height:79px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1069px;
  height:79px;
}
#u42 {
  position:absolute;
  left:2px;
  top:32px;
  width:1065px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:20px;
  top:250px;
  width:60px;
  height:25px;
  font-size:16px;
  text-align:left;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:26px;
}
#u44 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:80px;
  top:250px;
  width:110px;
  height:25px;
}
#u45_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u46 {
  position:absolute;
  left:220px;
  top:250px;
  width:60px;
  height:25px;
  font-size:16px;
  text-align:left;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:26px;
}
#u47 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:280px;
  top:250px;
  width:110px;
  height:25px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u49 {
  position:absolute;
  left:410px;
  top:250px;
  width:60px;
  height:25px;
  font-size:16px;
  text-align:left;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:26px;
}
#u50 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:450px;
  top:250px;
  width:110px;
  height:25px;
}
#u51_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u52 {
  position:absolute;
  left:630px;
  top:254px;
  width:100px;
  height:21px;
  font-size:12px;
  text-align:left;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u52_img.mouseOver {
}
#u52.mouseOver {
}
#u53 {
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:615px;
  top:256px;
  width:17px;
  height:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u54_img.selected {
}
#u54.selected {
}
#u54_img.disabled {
}
#u54.disabled {
}
#u55 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:20px;
  top:285px;
  width:104px;
  height:25px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:25px;
}
#u56_img.selected {
}
#u56.selected {
}
#u56_img.mouseOver {
}
#u56.mouseOver {
}
#u56_img.mouseDown {
}
#u56.mouseDown {
}
#u56_img.disabled {
}
#u56.disabled {
}
#u57 {
  position:absolute;
  left:2px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:20px;
  top:289px;
  width:100px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:134px;
  top:285px;
  width:104px;
  height:25px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:25px;
}
#u60_img.selected {
}
#u60.selected {
}
#u60_img.mouseOver {
}
#u60.mouseOver {
}
#u60_img.mouseDown {
}
#u60.mouseDown {
}
#u60_img.disabled {
}
#u60.disabled {
}
#u61 {
  position:absolute;
  left:2px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:134px;
  top:289px;
  width:100px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:10px;
  top:350px;
  width:755px;
  height:285px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:36px;
  font-family:'Scoder Hand Regular', 'Scoder Hand';
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:37px;
}
#u66 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:83px;
  top:0px;
  width:83px;
  height:36px;
  font-family:'Scoder Hand Regular', 'Scoder Hand';
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:37px;
}
#u68 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:166px;
  top:0px;
  width:83px;
  height:36px;
  font-family:'Scoder Hand Regular', 'Scoder Hand';
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:37px;
}
#u70 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:249px;
  top:0px;
  width:83px;
  height:36px;
  font-family:'Scoder Hand Regular', 'Scoder Hand';
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:37px;
}
#u72 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:332px;
  top:0px;
  width:83px;
  height:36px;
  font-family:'Scoder Hand Regular', 'Scoder Hand';
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:37px;
}
#u74 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:415px;
  top:0px;
  width:83px;
  height:36px;
  font-family:'Scoder Hand Regular', 'Scoder Hand';
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:37px;
}
#u76 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:498px;
  top:0px;
  width:83px;
  height:36px;
  font-family:'Scoder Hand Regular', 'Scoder Hand';
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:37px;
}
#u78 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:581px;
  top:0px;
  width:83px;
  height:36px;
  font-family:'Scoder Hand Regular', 'Scoder Hand';
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:37px;
}
#u80 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:664px;
  top:0px;
  width:86px;
  height:36px;
  font-family:'Scoder Hand Regular', 'Scoder Hand';
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:37px;
}
#u82 {
  position:absolute;
  left:2px;
  top:2px;
  width:82px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:0px;
  top:36px;
  width:83px;
  height:20px;
  font-family:'Scoder Hand Regular', 'Scoder Hand';
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:21px;
}
#u84 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:83px;
  top:36px;
  width:83px;
  height:20px;
  font-family:'Scoder Hand Regular', 'Scoder Hand';
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:21px;
}
#u86 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:166px;
  top:36px;
  width:83px;
  height:20px;
  font-family:'Scoder Hand Regular', 'Scoder Hand';
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:21px;
}
#u88 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:249px;
  top:36px;
  width:83px;
  height:20px;
  font-family:'Scoder Hand Regular', 'Scoder Hand';
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:21px;
}
#u90 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:332px;
  top:36px;
  width:83px;
  height:20px;
  font-family:'Scoder Hand Regular', 'Scoder Hand';
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:21px;
}
#u92 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:415px;
  top:36px;
  width:83px;
  height:20px;
  font-family:'Scoder Hand Regular', 'Scoder Hand';
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:21px;
}
#u94 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:498px;
  top:36px;
  width:83px;
  height:20px;
  font-family:'Scoder Hand Regular', 'Scoder Hand';
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:21px;
}
#u96 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:581px;
  top:36px;
  width:83px;
  height:20px;
  font-family:'Scoder Hand Regular', 'Scoder Hand';
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:21px;
}
#u98 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:664px;
  top:36px;
  width:86px;
  height:20px;
  font-family:'Scoder Hand Regular', 'Scoder Hand';
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:21px;
}
#u100 {
  position:absolute;
  left:2px;
  top:2px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:0px;
  top:56px;
  width:83px;
  height:224px;
  font-family:'Scoder Hand Regular', 'Scoder Hand';
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:225px;
}
#u102 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:83px;
  top:56px;
  width:83px;
  height:224px;
  font-family:'Scoder Hand Regular', 'Scoder Hand';
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:225px;
}
#u104 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:166px;
  top:56px;
  width:83px;
  height:224px;
  font-family:'Scoder Hand Regular', 'Scoder Hand';
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:225px;
}
#u106 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:249px;
  top:56px;
  width:83px;
  height:224px;
  font-family:'Scoder Hand Regular', 'Scoder Hand';
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:225px;
}
#u108 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:332px;
  top:56px;
  width:83px;
  height:224px;
  font-family:'Scoder Hand Regular', 'Scoder Hand';
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:225px;
}
#u110 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:415px;
  top:56px;
  width:83px;
  height:224px;
  font-family:'Scoder Hand Regular', 'Scoder Hand';
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:225px;
}
#u112 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:498px;
  top:56px;
  width:83px;
  height:224px;
  font-family:'Scoder Hand Regular', 'Scoder Hand';
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:225px;
}
#u114 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:581px;
  top:56px;
  width:83px;
  height:224px;
  font-family:'Scoder Hand Regular', 'Scoder Hand';
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:225px;
}
#u116 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:664px;
  top:56px;
  width:86px;
  height:224px;
  font-family:'Scoder Hand Regular', 'Scoder Hand';
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:225px;
}
#u118 {
  position:absolute;
  left:2px;
  top:2px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:10px;
  top:325px;
  width:110px;
  height:25px;
  font-size:16px;
  text-align:left;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:26px;
}
#u120 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:806px;
  top:370px;
  width:104px;
  height:25px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:25px;
}
#u121_img.selected {
}
#u121.selected {
}
#u121_img.mouseOver {
}
#u121.mouseOver {
}
#u121_img.mouseDown {
}
#u121.mouseDown {
}
#u121_img.disabled {
}
#u121.disabled {
}
#u122 {
  position:absolute;
  left:2px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:806px;
  top:374px;
  width:100px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:930px;
  top:370px;
  width:104px;
  height:25px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:25px;
}
#u125_img.selected {
}
#u125.selected {
}
#u125_img.mouseOver {
}
#u125.mouseOver {
}
#u125_img.mouseDown {
}
#u125.mouseDown {
}
#u125_img.disabled {
}
#u125.disabled {
}
#u126 {
  position:absolute;
  left:2px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:930px;
  top:374px;
  width:100px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:806px;
  top:425px;
  width:104px;
  height:25px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:25px;
}
#u129_img.selected {
}
#u129.selected {
}
#u129_img.mouseOver {
}
#u129.mouseOver {
}
#u129_img.mouseDown {
}
#u129.mouseDown {
}
#u129_img.disabled {
}
#u129.disabled {
}
#u130 {
  position:absolute;
  left:2px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:806px;
  top:429px;
  width:100px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:930px;
  top:425px;
  width:104px;
  height:25px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:25px;
}
#u133_img.selected {
}
#u133.selected {
}
#u133_img.mouseOver {
}
#u133.mouseOver {
}
#u133_img.mouseDown {
}
#u133.mouseDown {
}
#u133_img.disabled {
}
#u133.disabled {
}
#u134 {
  position:absolute;
  left:2px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:930px;
  top:429px;
  width:100px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
