body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:410px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:30px;
  top:-6px;
  width:380px;
  height:1649px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:1649px;
}
#u2 {
  position:absolute;
  left:2px;
  top:816px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:110px;
  top:239px;
  width:236px;
  height:22px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#FF0000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u4 {
  position:absolute;
  left:110px;
  top:301px;
  width:236px;
  height:22px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#FF0000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u5 {
  position:absolute;
  left:110px;
  top:266px;
  width:236px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#FF0000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u6 {
  position:absolute;
  left:110px;
  top:327px;
  width:236px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#FF0000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u7 {
  position:absolute;
  left:110px;
  top:387px;
  width:234px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:25px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#FF0000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u8 {
  position:absolute;
  left:76px;
  top:787px;
  width:293px;
  height:181px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:181px;
}
#u9 {
  position:absolute;
  left:2px;
  top:82px;
  width:289px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:94px;
  top:850px;
  width:232px;
  height:25px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#FF0000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u11 {
  position:absolute;
  left:94px;
  top:875px;
  width:126px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#FF0000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u12 {
  position:absolute;
  left:230px;
  top:875px;
  width:64px;
  height:25px;
  font-size:16px;
  text-align:left;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:26px;
}
#u13 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:274px;
  top:875px;
  width:52px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u15 {
  position:absolute;
  left:214px;
  top:807px;
  width:22px;
  height:22px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u16 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:230px;
  top:898px;
  width:64px;
  height:25px;
  font-size:16px;
  text-align:left;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:26px;
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:274px;
  top:898px;
  width:52px;
  height:25px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u20 {
  position:absolute;
  left:336px;
  top:900px;
  width:22px;
  height:22px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u21 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:198px;
  top:933px;
  width:22px;
  height:22px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u23 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:168px;
  top:797px;
  width:47px;
  height:41px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:41px;
}
#u25 {
  position:absolute;
  left:2px;
  top:12px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:168px;
  top:797px;
  width:47px;
  height:41px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:41px;
}
#u27 {
  position:absolute;
  left:2px;
  top:12px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:168px;
  top:797px;
  width:47px;
  height:41px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:41px;
}
#u29 {
  position:absolute;
  left:2px;
  top:12px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:186px;
  top:815px;
  width:13px;
  height:5px;
  font-size:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:6px;
}
#u31 {
  position:absolute;
  left:2px;
  top:-45px;
  width:9px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:78px;
  top:713px;
  width:250px;
  height:57px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:57px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#FF0000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u33 {
  position:absolute;
  left:70px;
  top:1032px;
  width:59px;
  height:38px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:38px;
}
#u33_img.selected {
}
#u33.selected {
}
#u33_img.mouseOver {
}
#u33.mouseOver {
}
#u33_img.mouseDown {
}
#u33.mouseDown {
}
#u33_img.disabled {
}
#u33.disabled {
}
#u34 {
  position:absolute;
  left:2px;
  top:11px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:70px;
  top:1038px;
  width:57px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:133px;
  top:1032px;
  width:98px;
  height:38px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:38px;
}
#u37_img.selected {
}
#u37.selected {
}
#u37_img.mouseOver {
}
#u37.mouseOver {
}
#u37_img.mouseDown {
}
#u37.mouseDown {
}
#u37_img.disabled {
}
#u37.disabled {
}
#u38 {
  position:absolute;
  left:2px;
  top:11px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:133px;
  top:1038px;
  width:94px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:20px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:237px;
  top:1029px;
  width:98px;
  height:38px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:38px;
}
#u41_img.selected {
}
#u41.selected {
}
#u41_img.mouseOver {
}
#u41.mouseOver {
}
#u41_img.mouseDown {
}
#u41.mouseDown {
}
#u41_img.disabled {
}
#u41.disabled {
}
#u42 {
  position:absolute;
  left:2px;
  top:11px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:237px;
  top:1035px;
  width:94px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:20px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:94px;
  top:805px;
  width:110px;
  height:25px;
  font-size:16px;
  text-align:left;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:26px;
}
#u46 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:78px;
  top:422px;
  width:131px;
  height:133px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:133px;
}
#u48 {
  position:absolute;
  left:2px;
  top:58px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:101px;
  top:460px;
  width:110px;
  height:25px;
  font-size:16px;
  color:#FF0000;
  text-align:left;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:26px;
}
#u50 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:209px;
  top:422px;
  width:135px;
  height:133px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:133px;
}
#u52 {
  position:absolute;
  left:2px;
  top:58px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:234px;
  top:460px;
  width:110px;
  height:25px;
  font-size:16px;
  color:#FF0000;
  text-align:left;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:26px;
}
#u54 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:78px;
  top:565px;
  width:131px;
  height:133px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:133px;
}
#u56 {
  position:absolute;
  left:2px;
  top:58px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:90px;
  top:610px;
  width:110px;
  height:25px;
  font-size:16px;
  text-align:left;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:26px;
}
#u58 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:209px;
  top:565px;
  width:132px;
  height:133px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:133px;
}
#u60 {
  position:absolute;
  left:2px;
  top:58px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:231px;
  top:614px;
  width:110px;
  height:25px;
  font-size:16px;
  text-align:left;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:26px;
}
#u62 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:94px;
  top:902px;
  width:126px;
  height:25px;
}
#u63_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#FF0000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u64 {
  position:absolute;
  left:141px;
  top:984px;
  width:104px;
  height:25px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:25px;
}
#u64_img.selected {
}
#u64.selected {
}
#u64_img.mouseOver {
}
#u64.mouseOver {
}
#u64_img.mouseDown {
}
#u64.mouseDown {
}
#u64_img.disabled {
}
#u64.disabled {
}
#u65 {
  position:absolute;
  left:2px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:141px;
  top:988px;
  width:100px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:329px;
  top:275px;
  width:17px;
  height:16px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u68_img.selected {
}
#u68.selected {
}
#u69 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:110px;
  top:352px;
  width:234px;
  height:25px;
}
#u70_input {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#FF0000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u71 {
  position:absolute;
  left:70px;
  top:241px;
  width:40px;
  height:25px;
  font-size:12px;
  text-align:left;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:26px;
}
#u72 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:70px;
  top:266px;
  width:40px;
  height:25px;
  font-size:12px;
  text-align:left;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:26px;
}
#u74 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:70px;
  top:301px;
  width:40px;
  height:25px;
  font-size:12px;
  text-align:left;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:26px;
}
#u76 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:70px;
  top:326px;
  width:40px;
  height:25px;
  font-size:12px;
  text-align:left;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:26px;
}
#u78 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:60px;
  top:358px;
  width:40px;
  height:25px;
  font-size:12px;
  text-align:left;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:26px;
}
#u80 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:60px;
  top:383px;
  width:40px;
  height:25px;
  font-size:12px;
  text-align:left;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:26px;
}
#u82 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
